$accentColor = #ea6f5a
$textColor = #c8c8c8
$borderColor = rgba(0,0,0,.07)
$codeBgColor = #282c34

body, .navbar, .sidebar{
background-color: #3f3f3f !important;
}

.search-box input {
  background-color: #4f4f4f !important;
  }

